/* ----------------------------------------------------------- */
/*                  FORMS STYLE                                */
/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */
/*                                                             */
/*  ---------------------------------------------------------  */
/*  |                                               form    |  */
/*  |  ---------------------------------------------------  |  */
/*  |  |  .formrow                                  div  |  |  */
/*  |  | ---------------------  ------------------------ |  |  */
/*  |  | |.fieldtitle   label|  |.fieldcontrol    field| |  |  */
/*  |  | ---------------------  ------------------------ |  |  */
/*  |  |                                                 |  |  */
/*  |  ---------------------------------------------------  |  */
/*  |  ---------------------------------------------------  |  */
/*  |  |  .formrow-botonera                              |  |  */
/*  |  ---------------------------------------------------  |  */
/*  ---------------------------------------------------------  */
/*                                                             */   
/* ----------------------------------------------------------- */ 

form {
  overflow: hidden; /* Floats cleaning */
}

/* -------------- ORGANIZATION ------------------ */

form div.formrow {
  overflow: hidden;
  margin-top: 0.808em;
  margin-bottom: 0.808em;  
}

form div.formrow-botonera {
  overflow: hidden;
  margin-top: 0.667em;    /* Vertical rythm */
  margin-bottom: 0.722em; /* Vertical rythm */
}

form div.formrow-botonera input[type="button"], form div.formrow-botonera input[type="submit"], form div.formrow-botonera input[type="reset"]{
  float: right;
}

form div label.fieldtitle {
  text-align:left;
  display: block;
  line-height: 1.618em;
  /*position: absolute;
  margin-left: 10px;*/
}

form div.fielddescription {
  line-height: 1.618em;
  display: none;
} 

form div input.fieldcontrol, form div textarea.fieldcontrol, form div label.error, form div div.fieldcontrol, form div fieldset.fieldcontrol { /* occupies all the space */
  width: 100%;
  padding: 5px 0px;
  line-height: 1.618em;
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px; /*150px*/
}

form div select.fieldcontrol { /* to the left and do not alter the width */
  line-height: 1.618em;
}

form div select.fieldcontrol-combo { /* more than one select in the same row */
  margin-right: 5px;	
}

/* ----------------- CONTROLS ------------------ */

.chooser_row {
  line-height: 1.618em;
}

form fieldset {
  border: 1px solid #DDD;	
  padding: 0.808em 0.808em 0.808em 0; 
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

form legend {
  font-weight: bold; 	
}

form input[type="checkbox"] {
  margin-right: 0.236em;
}

form input[type="text"], form input[type="password"] { /* TEXT and PASSWORD */
  border: 1px solid #DDD; 
  font-size: 1em;
  padding: 7px;
}

form input:focus {
  border: 1px solid #5164ee;
}

form textarea { /* TEXTAREA */
  border: 1px solid #DDD; /* Simple black border */	
  font-size: 1em;
}

form textarea:focus {
  border: 1px solid #5164ee;
}

form select { /* SELECT */
  margin-left: 1px;	
  border-color: #CCC;
  line-height: 1.618em;
}

form select.combo {
  -webkit-appearance: menulist-button;
}

form input[type="radio"], form input[type="checkbox"] {
  margin-left: 1px;
  margin-right: 5px;
}

form input[type="button"], form input[type="submit"], form input[type="reset"]  { /* BUTTONS */
  text-align: center;
  
  /*margin-left: 5px; */
  padding: 5px; 
   
  background-image: linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -o-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -moz-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -webkit-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -ms-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.25, rgb(221,221,221)), color-stop(0.71, rgb(238,238,238)));
  /*text-shadow: #333 1px 1px 4px;*/
  border: solid 1px #b7b7b7;

  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */	  
    
  cursor: hand;
  cursor: pointer;  
  min-width: 80px;
}

.form-button { /* Represents a button */

  text-align: center;

  padding: 0px 5px 0px 5px;

  background-image: linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -o-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -moz-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -webkit-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -ms-linear-gradient(top, rgb(221,221,221) 25%, rgb(238,238,238) 71%);
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.25, rgb(221,221,221)), color-stop(0.71, rgb(238,238,238)))
  text-shadow: #333 1px 1px 4px;;
  border: solid 1px #b7b7b7;

  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */	  
   
  cursor: hand;
  cursor: pointer;	

  display: inline-block;
  
  font-size: 1em;
  line-height: 1.5;
  min-width: 80px;
  padding: 5px;
}

.form-button a { /* Represents a link inside a button */
  text-decoration: none;
  font-weight: normal;  
  display: block;
}

.form-button a:link, .form-button a:visited {
  color: black;
}

.form-button a:hover {
 color: gray;	
}

.disabled-form-button {
  color: gray;
  background-color: #EEE;
  cursor: default;
}

/* -------------------- */

.form-frame {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

/* ------ ELEMENT form --------- */

.element-form-container { /* contains the form and navigation bar */
  margin-bottom: 2.618em;
}

.element-form-detail { /* contains the form */
  background: white;
  border: 1px solid #DDD;
  border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px; 
  padding-left: 0.787em;
  padding-right: 0.787em;
}

.form-fields  {  /* contains form fields */
}

.back-bar { /* Back to the list */
  float: right;
  line-height: 1.618em;    /* Vertical rythm */ 
  margin-top: 0.808em;     /* Vertical rythm */
  margin-bottom: 0.8080em; /* Vertical rythm */
}

.form-title { /* title */
  margin-top: 2px;
  margin-bottom: 0px; 
}

.fieldtitle {
  font-weight: 600;
  color: rgba(100,100,100,0.6);
}

.fieldcontrol {
}

.element-form-detail form div label.fieldtitle {
}

.element-form-detail form div input.fieldcontrol, form div textarea.fieldcontrol, form div select.fieldcontrol {
}

.element-form-detail form div input.fieldcontrol[readonly="readonly"] {
 background: #EEE;
 color: gray; 
}

.element-form-detail form .fielddescription {
 color: darkgray;
 clear: left; 
}

.element-form-bottom {
  overflow: hidden;
}

.entity-message {

 border: 1px dotted gray;
 padding: 5px;
 margin: 5px 0px 20px 0px;
 text-align: center;
  
}

.entity-message-ok {

 color: darkBlue;   
  
}

.entity-message-error {

 color: Maroon;
  
}

.editable_text {
  font-family: monospace;
  font-size: 0.9em;
}

.radio-block {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 10px;
  margin: 10px 0px 10px 0x;  
}

.radio-info {
  margin-left: 20px;
}

::-webkit-input-placeholder {
   color: #DDD;
}

:-moz-placeholder { /* Firefox 18- */
   color: #DDD;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DDD;  
}

:-ms-input-placeholder {  
   color: #DDD;  
}
