
.entity-management-button {
  min-width: 60px;  
  border: 1px solid #CCC;
  background: rgba(30, 148, 172, .1); 
}

.mini-button {
  min-width: 30px;
}

.blue-button {
  background-image: -webkit-linear-gradient(top, rgb(70, 136, 207) 25%, rgb(121, 169, 214) 71%);
  background-image: linear-gradient(top, rgb(70, 136, 207) 25%, rgb(121, 169, 214) 71%);
  background-image: -o-linear-gradient(top, rgb(70, 136, 207) 25%, rgb(121, 169, 214) 71%);
  background-image: -moz-linear-gradient(top, rgb(70, 136, 207) 25%, rgb(121, 169, 214) 71%);
  background-image: -webkit-linear-gradient(top, rgb(70, 136, 207) 25%, rgb(121, 169, 214) 71%);
  background-image: -ms-linear-gradient(top, rgb(70, 136, 207) 25%, rgb(121, 169, 214) 71%);
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.25, rgb(70, 136, 207)), color-stop(0.71, rgb(121, 169, 214)));  
  padding: 9px;
  color: white;
  text-transform: uppercase;
  font-size: small;  
}

.blue-button a { /* Represents a link inside a button */
  text-decoration: none;
  font-weight: normal;  
  display: block;
}

.blue-button a:link, .blue-button a:visited {
  color: white;
}

.blue-button a:hover {
 color: yellow; 
}

.red-button {
  background-image: -webkit-linear-gradient(top, rgb(216, 61, 48) 25%, rgb(228, 72, 42) 71%);
  background-image: linear-gradient(top, rgb(216, 61, 48) 25%, rgb(228, 72, 42) 71%);
  background-image: -o-linear-gradient(top, rgb(216, 61, 48) 25%, rgb(228, 72, 42) 71%);
  background-image: -moz-linear-gradient(top, rgb(216, 61, 48) 25%, rgb(228, 72, 42) 71%);
  background-image: -webkit-linear-gradient(top, rgb(216, 61, 48) 25%, rgb(228, 72, 42) 71%);
  background-image: -ms-linear-gradient(top, rgb(216, 61, 48) 25%, rgb(228, 72, 42) 71%);
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.25, rgb(70, 136, 207)), color-stop(0.71, rgb(228, 72, 42))); 
  padding: 9px;
  color: white;
  text-transform: uppercase;
  font-size: small;
}

.red-button a { /* Represents a link inside a button */
  text-decoration: none;
  font-weight: normal;  
  display: block;
}

.red-button a:link, .red-button a:visited {
  color: white;
}

.red-button a:hover {
 color: yellow; 
}

.green-button {
  background-image: -webkit-linear-gradient(top, rgb(11, 150, 89) 25%, rgb(39, 187, 104) 71%);
  background-image: linear-gradient(top, rgb(11, 150, 89) 25%, rgb(39, 187, 104) 71%);
  background-image: -o-linear-gradient(top, rgb(11, 150, 89) 25%, rgb(39, 187, 104) 71%);
  background-image: -moz-linear-gradient(top, rgb(11, 150, 89) 25%, rgb(39, 187, 104) 71%);
  background-image: -webkit-linear-gradient(top, rgb(11, 150, 89) 25%, rgb(39, 187, 104) 71%);
  background-image: -ms-linear-gradient(top, rgb(11, 150, 89) 25%, rgb(39, 187, 104) 71%);
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.25, rgb(11, 150, 89)), color-stop(0.71, rgb(39, 187, 104))); 
  padding: 9px;
  color: white;
  text-transform: uppercase;
  font-size: small;
}

.green-button a { /* Represents a link inside a button */
  text-decoration: none;
  font-weight: normal;  
  display: block;
}

.green-button a:link, .green-button a:visited {
  color: white;
}

.green-button a:hover {
 color: yellow; 
}

.black-button {
  background-color: black;
  background-image: none;
  padding: 9px;
  color: white;
  text-transform: uppercase;
  font-size: small;
}

.black-button a { /* Represents a link inside a button */
  text-decoration: none;
  font-weight: normal;  
  display: block;
}

.black-button a:link, .black-button a:visited {
  color: white;
}

.black-buttona:hover {
 color: yellow; 
}

.action-button {

}

.post-button {
  background-color: rgb(223, 223, 241);
}

.edit-entity-button {
  
}

.create-entity-button {
  background-color: rgb(205, 221, 233);
}

.update-entity-button {
  background-color: rgb(205, 233, 205);
}

.cancel-entity-button {
  
}

.delete-entity-button {
  
}

.new-entity-button {
  background: #E66464;
  color: white;    
}

.previous-page-button {
  
}

.next-page-button {
  
}

.previous-element-button {
  
}

.next-element-button {
  
}

.navigation-button {

}

.page-navigation { /*Button to change from entity navigation to page navigation*/
  border: none;
  background: none;
  text-decoration: underline;
  float: left;
}

.close-bar {
  overflow: hidden;
}

.close-bar a {
  float:right;
  cursor: hand;
  cursor: pointer;  
  margin-right: 5px;
}

.reload-entities-button {
  background-image: url('/assets/img/icons/refresh.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 32px;  
}

.delete-entity-button {
  background-image: url('/assets/img/icomoon/remove.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 32px;    
}

