/* ----- Navigation bars ----- */

.navigation-bar {
 overflow: hidden;  
}

.navigation-bar-title {
  float: left;  
}

.navigation-bar-search {
  float: right; 
  display: none; 
}

.navigation-bar-crud-buttons {
  float: right;
  margin-left: 1em;  
 /* margin-left: 10px;*/
}

.navigation-bar-nav-buttons {
 float: right;  
 margin-left: 20px;
}

.bottom-navigation-bar .navigation-bar-crud-buttons {
  float: right;
}

.crud-buttons {
 float: right;  
}

.entity-actions {
  margin-top: 5px;
  border-top: 1px dashed black;
}

.top-navigation-bar {
 
 padding: 10px 10px 10px 10px;
/* border: 1px solid #DDD; */
 margin-bottom: 1.389em; /* Vertical rythm */
 background: rgba(247, 247, 247, 1);/*rgba(255, 255, 255, 1);*/
 z-index: 9999;
}

.elements-summary {
 margin-right: 10px;  
}

.bottom-navigation-bar {

 border-top : 1px solid #DDD;;
 clear: both;

 margin-top: 12px;        /* Vertical rythm */
 margin-bottom: 13px;     /* Vertical rythm */
 padding-top: 0.667em;    /* Vertical rythm */
 padding-bottom: 0.667em; /* Vertical rythm */

}

.entity-status-bar {
  
}
