/* ------- Body text ---------- */

*, button {
 font-family:'Open Sans','American Typewriter', serif;  
}

html > body {
  font-size: 100%; /* 16px - default font size */
}

@media print {
  html > body {
    font-size: 62.5%; /* 10px */ 
  }
}

p {
  line-height: 1.5em; /* 24px */
  margin: 0.382em 0;
}

li {
  line-height: 1.5em;
}

/* ------- Headings ------------ */

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  color: black;
  /* 120 Proportional to 24 */
  font-size: 3.75em; /* 60px / 16px = 3.75 */
 /* margin-top: 0.5em;  */  /* 30px / 60px (font size) = 0.5 */
 /* margin-bottom: 0.5em; */ /* 30px / 60px (font size) = 0.5 */  
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #5F5D5D;  
}

h1 a:visited, h1 a:link, h1 a:hover {
  color: black;
  text-decoration: none;
}

.top-user h1 {
  /* 96 es el alto total (proporcional a 24) */
  font-size: 1.2em;     /* 60px / 16px = 3.75 */
  margin-top: 0.3em;    /* 18px / 60px (font size) = 0.3em */
  margin-bottom: 0.3em; /* 18px / 60px (font size) = 0.5em */  
  text-align: left;
}

.top-user h1 a {
  color: white;
}

.top-user h1 a:visited, .top-user h1 a:link, .top-user h1 a:hover {
  color: white;
}


h2 {
  color: rgba(150, 150, 150, 0.8);
  /* 72 es el alto total (proporcional a 24) */
  font-size: 3.125em;     /* 50px / 16px = 3.125 em */ 
  margin-top: 0.22em;     /* 11px / 50px = 0.22 em */
  margin-bottom: 0.22em;  /* 11px / 50px = 0.22 em */
}

h2 a {
  color: navy;
}

h2 a:visited, h2 a:link  {
  color: rgba(150, 150, 150, 0.8);
}

h2 a:hover {
  color: rgba(120, 120, 120, 1);
}

h3 {
  color: rgba(0, 0, 0, 0.6);
  /* 48 es el alto total (proporcinal a 24) */
  font-size: 2em;         /* 32px / 16px = 2 em */
  margin-top: 0.25em;     /* 8 / 32px = 0.25em */
  margin-bottom: 0.25em;  /* 8 / 32px = 0.25em */
}

h4 {
  /* 48 es el alto total (proporcional a 24) */
  font-size: 1.5em;      /* 24px / 16px = 1.5 em */
  margin-top: 0.5em;     /* 12px / 24px = 0.5 em*/
  margin-bottom: 0.5em;  /* 12px / 24px = 0.5 em */
}

h5 {
  /* 24 es el alto total (proporcional a 24) */
  font-size: 1.25em;      /* 20px / 16px = 1.25 em */
  margin-top: 0.1em;      /* 2px / 20px = 0.1em */
  margin-bottom: 0.1em;   /* 2px / 20px = 0.1em */
}

h6 {
  /* 24 es el alto total (proporcional a 24) */
  font-size: 1.125em;       /* 18px / 16px = 1.125em */
  margin-top: 0.16667em;    /*  3px / 18px = 0.16667em */
  margin-bottom: 0.16667em; /*  3px / 18px = 0.16667em */
}

a:link, a:visited {
  color: rgb(35, 92, 27);
  text-decoration: none;
}

a:hover {
  color: rgb(35, 92, 27);
  text-decoration: underline;
}

p a:link, p a:visited {
  color: #2D14AF;
  text-decoration: none;
}

p a:hover {
 color: darkgrey; 
}

pre {
  white-space: normal;
  font-family: 'Cutive Mono', 'American Typewriter', monospace;
}

/* --------- Size --------- */

.bigger_text {
  font-size: larger;
}

.smaller_text {
  font-size: smaller;	
}

/* ------- Transform ------ */

.uppercase_text {
  text-transform: uppercase;
}

.lowercase_text {
  text-transform: lowercase;
}

.italic_text {
  font-style: italic;
}

/* ------- Contrast ------- */

.more_contrast_text {
  font-weight: 600;
}

.less_contrast_text {
  color: gray;
}

.ultra_less_contrast_text {
  color: #DDD;
}

/* ------- hightlighted and lowlighted text --------- */

.highlighted_text {
  font-weight: 600; 
}

.highlighted_text_2 {
  color: gray;
}

.lowlighted_text {
  font-weight: 300;
}

.lighter_text {
  color: rgba(130, 130, 130, 0.6);   
}

/* ----- text alignment ------------ */

.centered_text {
   text-align: center;
}

.left_text {
   text-align: left;
}

.right_text {
   text-align: right;
}

/* ------- Messages colors -------- */

.error {
  color: #E23131; 
}

.info {
  color: blue;
}

.warn {
  color: darkblue;  
}

.fatal {
  color: darkred; 
}