/* ------------ Utilities ------------ */

.over_cursor {
  cursor: pointer;
  cursor: hand;  
}

.indentation { /* An indentation */
  width : 20px;
  display: inline-block;  
}

.overflow {
  overflow: hidden;
}

.100_100_width {
  width: 100%;
}

.100_100_height {
  height: 100%;
}

.as_link {
  text-decoration: underline;
}

/* ----- Vertical align ----- */

.top-vertical-align {
  vertical-align: top;
}

/* ------ Shadow ------- */

.box-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
}


/* ------ BorderBox ----- */

.border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* ----- Border -------- */
.no-border {
  border: none;
}

.no-background {
  background: none;
}

.rounded {
  border-radius: 5px;
}

/* ----- Borders --------- */

.left-border-nosolid {
  border-left: 1px dashed #CCC;
}

.right-border-nosolid {
  border-right: 1px dashed #CCC;
}

.top-border-nosolid {
  border-top: 1px dashed #CCC;
}

.bottom-border-solid {
  border-bottom: 1px solid;
}

.bottom-border-nosolid {
  border-bottom: 1px dashed #CCC;
}

.bottom-border-dotted {
  border-bottom: 1px dotted #CCC;
}

.all-border-solid {
  border: 1px solid;
}

.all-border-dotted {
  border: 1px dotted;
}

.all-border-dashed {
  border: 1px dashed;
}

.all-border-solid-light {
  border: 1px solid #CCC;
}

.all-border-dotted-light {
  border: 1px dotted #CCC;
}

.all-border-dashed-light {
  border: 1px dashed #CCC;
}


/* ----- Margins --------- */

.no-margin-right { /* No right margin */
 margin-right: 0px; 
}

.no-margin-left { /* No left margin */
 margin-left: 0px;  
}

.right-margin {
  margin-right: 10px;
}

.left-margin {
  margin-left: 10px;
}

.top-margin {
  margin-top: 0.808em;  
}

.top-margin-1line {
  margin-top: 1.618em;
}

.top-margin-2lines {
  margin-top: 3.236em;
}

.bottom-margin {
  margin-bottom: 0.808em; 
}

.bottom-margin-1line {
  margin-bottom: 1.618em; 
}

.bottom-margin-2lines {
  margin-bottom: 3.236em;
}

@media(min-width: 960px) {
  .grid_right_separator {
     margin-right: 2em;
  }
  .grid_left_separator {
     margin-left: 2em;
  }
}

/* ------ Separators (borders) ------- */

.left-separator {
  border-left: 1px solid #DDD;
}

.right-separator {
  border-right: 1px solid #DDD;
}

.top-separator { /* Top separator */ 
 border-top: 1px solid #DDD; 
}

.bottom-separator { /* Bottom separator */
  border-bottom: 1px solid #DDD;
}

/* ----- Paddings ------- */

.left-space {
  padding-left: 10px;
}

.right-space {
  padding-right: 10px;
}

.top-space {
  padding-top: 0.382em;
}

.top-space-1line {
  padding-top: 1.618em;
}

.top-space-2lines {
  padding-top: 1.618em;
}

.bottom-space {
  padding-bottom: 0.382em;
}

.bottom-space-1line {
  padding-bottom: 1.618em;
}

.bottom-space-2lines {
  padding-bottom: 3.236em;
}

.all-min-space {
  padding: 5px;
}

.all-space {
  padding: 10px;
}

.all-full-space {
  padding : 1em;
}

/* ----- Floats -------- */

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.clear-float {
  clear: both;
}

.left-bar { /* Left float */
 float: left; 
}

.right-bar { /* Right float */
 float: right;  
}


.date_control { /* Date control */
  background: url('/img/icons/calendar.png');
  background-repeat: no-repeat; 
  background-position: 99%;
  background-color: white;
}

.link { /* Link */
  cursor: hand;
  cursor: pointer;  
}

.icon { /* An icon */
  width: 16px;
}

.element-status {
 -webkit-border-radius: 5px; /* Safari  */ 
 -moz-border-radius: 5px; /* Firefox */
 border-radius: 5px; /* iExplorer 9 */    
 padding: 3px;
}

.pending-status {
  color: rgb(231, 186, 12);
}

.confirmed-status {
  color: rgb(41, 158, 69);
}

.doing-status {
  color: rgb(13, 124, 226);
}

.done-status {
  color: rgb(0, 0, 0);
}

.error-status {
   color: rgb(238, 71, 71);    
}