/* ---------------------------------------------------------------------- */
/*                       MAIN STYLES DEFINITION                           */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/*                                                                        */
/*  --------------------------------------------------------------------  */
/*  |                                                        container |  */
/*  |  --------------------------------------------------------------  |  */
/*  |  |                                           container_header |  |  */
/*  |  |                                                            |  |  */
/*  |  |-------------------------------------------------------------  |  */
/*  |                                                                  |  */
/*  |  --------------------------------------------------------------  |  */
/*  |  |                                          container_content |  |  */
/*  |  |                                                            |  |  */
/*  |  -------------------------------------------------------------|  |  */
/*  |                                                                  |  */                        
/*  |  -------------------------------------------------------------|  |  */
/*  |  |                                           container_footer |  |  */
/*  |  | ---------------------------------------------------------- |  |  */
/*  |  | |                                            footer_image| |  |  */
/*  |  | ---------------------------------------------------------- |  |  */
/*  |  | |                                          footer_message| |  |  */
/*  |  | ---------------------------------------------------------- |  |  */
/*  |  --------------------------------------------------------------  |  */
/*  |                                                                  |  */
/*  --------------------------------------------------------------------  */
/*                                                                        */
/* ---------------------------------------------------------------------- */

/* -------------------------- TAGS STYLE --------------------------- */

* {
 font-family:'Open Sans','American Typewriter', serif;	
}

body, html {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body 
{	
  background: url('/img/background.jpg'); 
  color: black;
  width: 100%;
  margin: 0 auto;
}


a:link, a:visited {
  color: rgb(67, 67, 155);
  text-decoration: none;
}

a:hover {
  color: rgb(117, 117, 190);
  text-decoration: underline;
}

h1, h2, h3 {
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Risque';
  color: #5F5D5D;
}

h1 a:visited, h1 a:link, h1 a:hover {
  color: #5F5D5D;
  text-decoration: none;
}

h2 {
  color: black;
}

h2 a:visited, h2 a:link {
  color: black;
} 

h2 a:hover {
  color: rgb(31, 12, 133);
}

/* ----- Fonts -------- */

#menu_primary_links a, #menu_members a {
  font-family: 'Limelight';
}

/* ----- Links -------- */

p a:link, p a:visited {
  color: #2D14AF;
  text-decoration: none;
}

p a:hover {
 color: darkgrey; 
}

h1 a {
  text-decoration: none;
  font-family: 'Risque';
  color: #5F5D5D;  
}

h2 a {
  color: navy;
}

/* ----- Images ------ */

a img {
  border: none; 
}

pre {
  white-space: normal;
  font-family: 'Cutive Mono', 'American Typewriter', monospace;
}

/* -------- Html5 boilerplate -------------- */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ================================================================= */
/* ------------            MAIN LAYOUT         --------------------- */
/* ================================================================= */

#top {
  background: #CD2039;
}

#top {

}

#header {
}

/* ----------- THE CONTAINER (HOLDS ALL THE ELEMENTS) -------------- */

#container { 
  max-width: 960px; 
  margin: 0 auto;
  padding: 0px 5px;
}

/* ----------- CONTAINER HEADER ------------------------------------------ */

#container_header {
  border-bottom: 1px solid #DDD;
}

#container_headline { 
  border-bottom: 1px solid #EEE;
}

/* ----------- CONTAINER CONTENT ---------------------------------------- */

#container_content {
  overflow: hidden; 
}

#container_content_left {
 overflow: hidden;	
}

#container_content_center {
 overflow: hidden;	
}

#container_content_right {
 overflow: hidden;		
}

#container_footer_content {
}

/* ------------ RESPONSIVE DESIGN --------------------- */

@media(max-width: 980px) {

}

@media(max-width: 601px) {

}

/* ==================================================== */
/* --------------- CLASSES ---------------------------- */
/* ==================================================== */

.date_control {
  background: url('/img/icons/calendar.png');
  background-repeat: no-repeat; 
  background-position: 99%;
  background-color: white;
}

.link {
  cursor: hand;
  cursor: pointer;  
}

.icon {
  width: 16px;
}

.highlighted_text {
  font-weight: 600; 
}

.highlighted_text_2 {
  color: gray;
}

.lowlighted_text {
  font-weight: 300; 
}

/* -------- Errors --------- */

.error {
  color: #E23131; 
  display: block;
}

.warn {
  color: darkblue;  
}

.fatal {
  color: darkred; 
}

/* --------------- BLOCKS -------------------- */

/* ------- Highlight Block ------------- */

.highlight_block_title {
  padding: 2px 5px 2px 5px;
}

.highlight_block {
  background: #EEE; 
  border: 1px solid #CCC; 
  padding: 5px; 
  -webkit-border-radius: 5px 5px; /* Safari  */ 
  -moz-border-radius: 5px 5px; /* Firefox */
  border-radius: 5px 5px; /* iExplorer 9 */ 
}

.highlight_block_level_2 {
  overflow: hidden;
  background: #DDDDDD;  
}

/* ------- Information blocks (FLOAT BLOCKS WITH DIFFERENT CATEGORIES) ------------- */

.information-block-container { /* Holds a set of information-block */
  overflow: hidden;   
}

.information-block {
  float: left;
  margin-left: 10px;    
  padding: 10px;
  text-align: left;
  -webkit-border-radius: 5px 5px; /* Safari  */ 
  -moz-border-radius: 5px 5px; /* Firefox */
  border-radius: 5px 5px; /* iExplorer 9 */  
}

.information-block-category-1 {
  background: #EEEEEE;  
}

.information-block-category-2 {
  background: #DDDDDD;  
}

.information-block-category-3 {
  background: #CCCCCC;  
}

.information-block-category-4 {
  background: #AAAAAA;  
}

.information-block-title {
  
}

.information-block-description {
  
}
