/* ----------------------------------------------------------- */
/*                  FORMS STYLE                                */
/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */
/*                                                             */
/*  ---------------------------------------------------------  */
/*  |                                               form    |  */
/*  |  ---------------------------------------------------  |  */
/*  |  |  .formrow                                  div  |  |  */
/*  |  | ---------------------  ------------------------ |  |  */
/*  |  | |.fieldtitle   label|  |.fieldcontrol    field| |  |  */
/*  |  | ---------------------  ------------------------ |  |  */
/*  |  |                                                 |  |  */
/*  |  ---------------------------------------------------  |  */
/*  ---------------------------------------------------------  */
/*                                                             */   
/* ----------------------------------------------------------- */ 

form {
  overflow: hidden; /* Floats cleaning */
}

/* -------------- ORGANIZATION ------------------ */

form div.formrow {
  overflow: hidden;
  margin-top: 0.808em;
  margin-bottom: 0.808em;  
}

form div.formrow-botonera input[type="button"], form div.formrow-botonera input[type="submit"], form div.formrow-botonera input[type="reset"]{
  float: right;
}

form div label.fieldtitle {
  text-align:left;
  display: block;
  line-height: 1.618em;
}

form div.fielddescription {
  line-height: 1.618em;
} 

form div input.fieldcontrol, form div textarea.fieldcontrol, form div label.error, form div div.fieldcontrol, form div fieldset.fieldcontrol { /* occupies all the space */
  width: 100%;
  padding: 5px 0px;
  line-height: 1.618em;
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
}

form div select.fieldcontrol { /* to the left and do not alter the width */
  line-height: 1.618em;
}

form div select.fieldcontrol-combo { /* more than one select in the same row */
  margin-right: 5px;	
}

/* ----------------- CONTROLS ------------------ */

.chooser_row {
  line-height: 1.618em;
}

form fieldset {
  border: 1px solid #DDD;	
  padding: 0.808em; 
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

form legend {
  font-weight: bold; 	
}

form input[type="checkbox"] {
  margin-right: 0.236em;
}

form input[type="text"], form input[type="password"] { /* TEXT and PASSWORD */
  border: 1px solid #DDD; 
  font-size: 1em;
}

form input:focus {
  border: 1px solid #5164ee;
}

form textarea { /* TEXTAREA */
  border: 1px solid #DDD; /* Simple black border */	
  font-size: 1em;
}

form textarea:focus {
  border: 1px solid #5164ee;
}

form select { /* SELECT */
  margin-left: 1px;	
  border-color: #CCC;
}

form select.combo {
  -webkit-appearance: menulist-button;
}

form input[type="radio"], form input[type="checkbox"] {
  margin-left: 1px;
}

form input[type="button"], form input[type="submit"], form input[type="reset"]  { /* BUTTONS */
  text-align: center;
  
  margin-left: 5px; /* Separation between buttons */
  padding: 5px; 
 
  color: black;
  /*background-color: #DDD; */
  
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */	  
 
  border: 1px solid gray;
    
  cursor: hand;
  cursor: pointer;
  
  font-size: 1em;
}

.form-button { /* Represents a button */

  text-align: center;

  min-width: 50px;     	
  
  padding-right: 5px;
  padding-left: 5px;
  background-color: #DDD;

  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */	  

  border: 1px gray solid;
   
  cursor: hand;
  cursor: pointer;	

  display: inline-block;
  
  font-size: 1em;
  line-height: 1.5; /* 1.5 * 18 + 2 (border) = 29 */
}

.form-button a { /* Represents a link inside a button */
  text-decoration: none;
  font-weight: normal;  
  display: block;
}

.form-button a:link, .form-button a:visited {
  color: black;
}

.form-button a:hover {
 color: gray;	
}

.disabled-form-button {
  color: gray;
  background-color: #EEE;
  cursor: default;
}
