/* ================================== */
/* ------- jquery ui ---------------- */
/* ================================== */

  .ui-tabs-vertical { width:95%; border:none; padding-left:0px;}
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 30%; background: #EEE;}
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 95%; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #DDD; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; border-bottom: none; float: none;}
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {}
  .ui-tabs-vertical .ui-tabs-panel { float: right; width: 65%; padding: 5px 10px 10px 10px; border: 1px solid #CCC; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

/* ================================== */
/* ------- Yito JS ------------------ */
/* ================================== */

.current-page-button {
  background: #E7E271;
}

/* ================================== */
/* -------- YITO CORE --------------- */
/* ================================== */

.form-frame {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

.page-title {
  
}

.page-title a {
  text-decoration: none;
  color: navy;
  font-size: 1.6em;  
  font-weight: normal;
}

/* ================================== */
/* ------- Photo -------------------- */
/* ================================== */

#element_photo_img {
  margin: 0 auto;
  display: block;
 -webkit-border-radius: 5px; /* Safari  */ 
 -moz-border-radius: 5px; /* Firefox */
 border-radius: 5px; /* iExplorer 9 */     
}

#photo_change_container {
  margin-top: 5px;  
} 

#element_photo_img_template {
  max-width: 100%;
}

/* ================================== */
/* -------- Logger ------------------ */
/* ================================== */

.tht-logger {
  font-family: monospace; 
}


.tc-logger {
  font-family: monospace; 
}

/* ================================== */
/* -------- Business Events --------- */
/* ================================== */

.tht-be {
  font-family: monospace; 
}

.tc-be {
  font-family: monospace; 
}

/* ================================== */
/* ------- Contact ------------------ */
/* ================================== */

.contact_information {
  text-align: center; 
}

/* ================================== */
/* ------- Attachments -------------- */
/* ================================== */

.attachments-list {
 padding-left: 5px; 
}

.attachment-element {
 list-style-type: none;
}

/* ================================== */
/* ------- Photo selector ----------- */
/* ================================== */

  #uploader_form {
  	width: 95%;
  	padding: 5px;
  }
  
  #photo_container {
    margin: 0 auto;
    height: 300px;
  }
    
  #photo_img {
    margin: 0 auto;
  }
  
  #uploader_form_buttons {
    position: relative;
    bottom: 0px;	
  }

/* ================================== */
/* --------- Gallery ---------------- */
/* ================================== */

  #gallery .list-management-item {
    display: inline-block;
  }

  .gallery-thumbnail {
    text-decoration :none;
  }

  .album-main-photo {
    padding: 5px;
    background: #DDD;
  }

  .album-photo {
    cursor: hand;
    cursor: pointer;  
  } 

/* ================================== */
/* ------- AUTH --------------------- */
/* ================================== */

#login_container {

  margin:0 auto; // Center alignment
  padding: 10px;
  width: 30em;
  
  padding-top: 5em;
  padding-bottom: 10em;  	
}

#form_login {
  
  margin: 10px;
  width: 25em;

  border: 1px solid gray;
  background-color: #EEEEEE;
  
  padding: 10px;
    
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */		
}

#form_login h2 {
  padding-left: 6px;
  font-size: large;	
}

#form_login .fieldtitle {
  width  : 6em;	
  padding: 6px;
  float: left;
  clear: none;
}

#form_login label.error {
  width: 18.5em;	
  padding-top:5px;
  font-size: 14px;
}

#form_login .fieldcontrol {
  width  : 15em;	
  padding: 5px;
  margin-right: 10px;
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */	
  float: right;
  clear: none;	
}

#signup {
  background-color: red;
  color: white;		
}

.signup-button {
  background-color: red;
  color: white;	
}

/* ================================== */
/* ------- MAIL --------------------- */
/* ================================== */

#message_form { /* New message */
 background: white;	
 padding: 10px;
 border: 1px solid black;
 width: 100%;
}

#message_form_container {
 padding: 5px;
 width: 400px;
}

.reply-button { /* Reply */
  background: black;
  color: white;	
}

#reply_message_form {
  width: 100%;	
}
#reply_message_form div textarea{
 float: left;	
 width: 99%;
}

#messages_container { /* Message reader */
 background: white;
}

#message_detail {

}


#messages_info {
 text-align: center;	
}

.messages-summary{
  display: inline;
}

.left-bar {
 float: left;	
}

.right-bar {
 float: right;	
}

#message_container_button_bar {
 height: 30px;
 margin-top: 5px;
 margin-bottom: 5px;	
 border-bottom: 1px solid black;
 padding-top: 5px;
 padding-bottom: 10px;
}

#messages_list {
 width : 100%;
}

.highlighted-row {
  background: white;
  font-weight: bold;
}

.mail-sender {
 width: 25%;	
 min-width: 150px;
 text-align : left;
}

.mail-subject {
}

.mail-message {
 color: gray;	
}

.mail-received-date {
 width: 90px;
 text-align: rigth;
}

#message_detail { /* Message detail */
 background: white;
}

#message_detail_button_bar {
 height: 30px;
 margin-top: 5px;
 margin-bottom: 5px;	
 border-bottom: 1px solid black;
 padding-top: 5px;
 padding-bottom: 15px;
}

#message_detail_header {
 padding: 5px;	
}

.message_detail_subject {
 font-size: large;	
 padding-bottom: 5px;
}

.message_detail_sender {
 font-weight: bold;	
}

.message_detail_date {
  float: right;
}

#message_detail_body {
 padding: 10px;
 margin-top: 5px;
 margin-bottom: 5px;
 border-bottom: 1px black solid;
}

#message_detail_conversation {
 padding-bottom: 10px;
 border-bottom: 1px black solid;
 margin-bottom: 10px;
}

#message_detail_conversation_buttons {
 height: 23px;
 padding-top: 5px;
}

#message_response {
 margin-top: 5px;
}

.conversation_item { /* conversation */

 padding: 5px;
 margin-botton: 5px;
 margin-top:5px;
 -webkit-border-radius: 5px 5px; /* Safari  */ 
 -moz-border-radius: 5px 5px; /* Firefox */
 border-radius: 5px 5px; /* iExplorer 9 */	
	
}

.conversation_item_own {
 background-color : #e6e4c0;	
}

.conversation_item_other {
 background-color : #f8dbef;	
}

.conversation_item_header {
	
 border-bottom: 1px dashed gray;
 	
}

.conversation_item_body {
	
 padding: 10px;
 margin-top: 15px;
 margin-bottom: 15px;	
	
}

.conversation_item_footer {
	
}

/* ================================== */
/* ------- COMMENTS ----------------- */
/* ================================== */

.comment_set_template {
 margin-top: 20px;
 border-top: 2px solid black; 
}

.post-button {
  background: black;
  color: white; 
}

#comment_form {
  width: 100%;  
}
#comment_form div textarea{
 float: left; 
 width: 99%;
}

#comment_form_container {
 margin-top: 5px; 
 padding: 5px; 
}

.comment {

 padding: 5px;
 margin-botton: 5px;
 margin-top:5px;
 -webkit-border-radius: 5px 5px; /* Safari  */ 
 -moz-border-radius: 5px 5px; /* Firefox */
 border-radius: 5px 5px; /* iExplorer 9 */  
 background: #EEE;
  
}

.comment_own {
 background-color : #e6e4c0;  
}

.comment_other {
 background-color : #f8dbef;  
}

.comment_header {
  
 border-bottom: 1px dashed gray;
  
}

.comment_body {
  
 padding: 10px;
 margin-top: 15px;
 margin-bottom: 15px; 
  
}

.comment_footer {
  
}

.comment_sender {

}

.comment_date {
  float: right;
}

/* ================================== */
/* ------- PROFILE ------------------ */
/* ================================== */

#profile_dropdown {
  background: white;
  border: 1px solid #CCC;
   width: 400px;
  top: 0px;
  position: absolute;
  margin-left: 250px;
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */  
}

.profile-dropdown-button-bar {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #EEE;
  padding-left: 5px;
}

.profile-block-button {
  background: #B1C2E7;
}

.profile_register_header {

}

.profile_dropdown_body {
  padding: 5px;
}

.profile_block_selector {
  list-style: none;
}


/* ----- Profile render ------- */

#profile_summary {
 float:left;  
 width: 160px;
 border-right: 1px solid #DDD;
 padding-right: 10px;
 margin-right: 10px;
}

#profile_photo {
  border: 1px solid #DDD;
  width: 150px;
  height: 150px;  
  padding: 5px;
  margin: 0px 10px 10px 0px;
}

#profile_photo_img {
  width: 140px;
  margin: 0 auto;
  display: block;
  padding: 5px;
}

#profile_basic h2{
 text-align:left;	
}

#profile_basic div {
  padding-bottom: 3px;	
}

#about_me {
  margin-top: 10px;	
}

.profile_literal {
  color : #615F5F;	
  display: block;
}

#profile_actions {

  padding: 10px 5px 10px 0px;
  
  -webkit-border-radius: 3px; /* Safari  */ 
  -moz-border-radius: 3px; /* Firefox */
  border-radius: 3px; /* iExplorer 9 */	  
  
}

/* ----- Profile form --------- */

#profile_form fieldset {
  border: none;	
}

#profile_form legend {
  font-size: larger;
  color: #333;
  font-weight: bold;
}

#profile_photo_img {
 display: block;
 margin: 0 auto;
 border: 1px solid black;
}

#change_photo_link {
 display : block;
 margin: 0 auto;	
}

#choose_photo { /* The block used to show the upload form */
 display: none;
 width: 600px;
 border: 1px solid black;
 background: white;	
}

#profile_form_buttons {
 border-top: 1px solid gray;
 padding-top: 10px;	
}

#send {
 margin: 0 auto;
}	

#sending-request {
  display: none;	
}

#sending-request img {
  display: block;
  margin: 0 auto;
  margin-top:15px;
}

/* ================================== */
/* ------- Community ---------------- */
/* ================================== */

#community_menu {

 padding: 15px 0px 15px 0px;
 margin-left: 15px;
	
}

.no-margin-right {
 margin-right: 0px;	
}

.no-margin-left {
 margin-left: 0px;	
}

#members_list {
 margin-top: 10px;
 overflow: hidden;	
}

#messages_summary_page {
 padding-top: 10px;	
}

.profile_summary {
 margin-bottom: 5px;
}

.profile_summary * {
 font-size: 12px;	
}

.profile_summary_photo {
  padding-top: 2px;
  padding-bottom: 2px;
  width : 134px;
  height: 134px;
  display: block;
  margin: 0 auto;
}

.profile_summary_photo_block {
 background-color: white;
 border: 1px solid #CCC;

 -webkit-border-radius: 7px; /* Safari  */ 
 -moz-border-radius: 7px; /* Firefox */
 border-radius: 7px; /* iExplorer 9 */	

 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
//  height : 210px; /* 148 102 + 4 */
//  width : 210px; /* 148 108 + 4 */	
  /*margin: 0 auto;*/
}

.profile_summary_data {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
} 

.profile_summary_actions {
  padding: 0px 2px 0px 2px;	
}

/* ================================== */
/* ------- Entity management -------- */
/* ================================== */

.close-bar {
  overflow: hidden;
}

.close-bar a {
  float:right;
  cursor: hand;
  cursor: pointer;  
  margin-right: 5px;
}

.guiblock {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px;
  background: #EEE;
  margin-bottom: 10px;
  margin-top: 10px;
}

.guiblock-title {
  background: #CCC;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.new-entity-button {
  background: #E66464;
  color: white;  
}

.create-entity-button {
  background: #1CA332;
  color: white;
}

.update-entity-button {
  background: #1CA332;
  color: white;
}

.reload-entities-button {
  background-image: url('/assets/img/icons/refresh.png');
  background-repeat: no-repeat;
  padding-left: 32px;  
}

.delete-entity-button {
  background-image: url('/assets/img/icomoon/remove.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 32px;    
}

.entity-title {
  color: navy;
  font-size: 1.6em;
  font-weight: normal;
  display: inline-block;
  border-bottom: 3px solid navy;
}

.elements-list {
  padding-bottom: 0px;
  margin-bottom: 15px;
  background: white;
}

.element-form-detail {
  background: white;
}

/* ================================== */
/* ----- Aspects Render  ------------ */
/* ================================== */

.content_data_box {
    background: #EEEEEE;
    border: 1px solid #DDDDDD;  
    margin-top: 10px;
    padding: 0px 20px 2px 5px;
}

.content_data_block {
    border-bottom: 1px solid #DDDDDD; 
    margin-bottom: 5px;
}

.content_data_block_title {
    padding: 5px 5px 5px 5px; 
    margin: 0px;
}

.content_data_row {
    padding: 5px 5px 5px 5px; 
}

.content_data_label {
   color: gray; 
}

/* ================================== */
/* ------- CMS ---------------------- */
/* ================================== */

/* -------- content render ---------- */

.category {
  background: #C5E036;
  padding: 3px;
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */ 
}

.content-photo {
 margin-top: 10px;  
 margin-bottom: 10px;
}
.content-photo-img {
 width: 100%;
 max-width: 100%; 
}

.content-title {

}

.content-title a {
  text-decoration: none;
  color: navy;
  font-size: 1.6em;
  font-weight: normal;
}
.content-composer {
  color: #5D88C9;
}

.content-header {
  margin-top: 10px;
}

.content-header a {
  text-decoration: none;
}

.content-body {
 margin-top: 10px;
}

.content-body p:first-child {
  margin-top: 0px;
}

.content-custom {
 margin-top: 10px;
 padding-top: 10px;
 /*border-top: 1px solid black;*/
}

.content-actions {
 border-top: 1px solid black;
 padding-top: 10px;
 margin-top: 10px;  
}

.content-action-button {
 background: greenyellow; 
}

/* -------- content render (default) ---------- */

.content-title a {
  border-bottom: 3px solid navy;
}

.content-wrapper .content_data_block {
  border-bottom: none;
}

/* -------- content flyer render ---------- */

.content-flyer-wrapper .content-title {
  text-align: center;
  width: 90%;
}

.content-flyer-wrapper .content-body {
  width: 90%;
  margin: 0 auto;
  margin-right: 5%;
  line-height: 2em;
  letter-spacing: 0.07em;
  padding-top: 10px;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;  
  column-gap: 2em;
}

.content-flyer-wrapper .content_data_block {
  border-bottom: none;
}

.content-flyer-wrapper .content-custom {
  width: 90%;
  margin: 0 auto;
}

/* -------- content right extras render ---------- */

.content-rightextras-wrapper .content-body {
  width: 50%;
  float: left;
  margin-right: 5%;
  line-height: 2em;
  letter-spacing: 0.07em;
}

.content-rightextras-wrapper .content_data_block {
  border-bottom: none;
}

.content-rightextras-wrapper .gallery_template {
  width: 45%;
  display: inline-block;
  position: relative;
  top: -2em;
}

.content-rightextras-wrapper .content-custom :nth-child(2) {
  clear: left;
}

/* -------- content left extras render ---------- */

.content-leftextras-wrapper .content-title {
  margin-left: 50%;
}

.content-leftextras-wrapper .content-body {
  width: 50%;
  float: right;
  margin-left: 5%;
  line-height: 2em;
  letter-spacing: 0.07em;
}

.content-leftextras-wrapper .content_data_block {
  border-bottom: none;
}

.content-leftextras-wrapper .gallery_template {
  width: 45%;
  display: inline-block;
  position: relative;
  top: -4em;
}

.content-leftextras-wrapper .content-custom :nth-child(2) {
  clear: right;
}

/* -------- content blogentry2 render ----- */


/* -------- content teaser render -------- */

.content-teaser-title {
  margin-top: 10px;
  margin-bottom: 10px;  
} 

.content-teaser-body p:first-child {
  margin-top: 0px;
}

.content-teaser-title a:visited, .content.title a:link {
    
}

.content-teaser-title a:hover {
  text-decoration: underline; 
}

.content-teaser-title a:hover {
  text-decoration: underline; 
}

.content-teaser-date {
  font-size: 1.1em; 
}
  

.content-teaser-category {
  font-size: 1.1em;
}

.content-teaser-category a:visited, .content-teaser-category a:link {
  text-decoration: none;  
  border-bottom: none;
}

.content-teaser-category a:hover {
  text-decoration: underline;
}

.content-teaser-body p {
  margin-top: 0px;  
}

/* -------- content status --------------- */

.content-status {
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */
  padding: 3px;
  display: inline-block;
}

.content-status-draft {
  background: #DDD;
}

.content-status-pend-conf {
  background: #F5F59C;
}

.content-status-pend-valid {
  background: #E9BB5A;
}

.content-status-published {
  background: #A0DBA0;
}

.content-status-banned {
  background: #F17065;
}

/* ----------- Blocks ------------------------------------ */

.block { /* The block container */

 margin-top: 4px;

}

.block-title {
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 2px;
  font-weight: 800;
  color: darkgray;	
}

#top .block, #header .block, #container_content_left .block, #container_content_right .block {
  font-size: 0.8em;
}

/* ------ View Management ------------- */

#view-preview-result {
  background: white;
  border-radius: 5px;
  padding: 5px;  
  min-height: 5em;
  border: 1px dashed;
}

/* ------ Views RENDERING ------------- */

.block .view { /* View rendered as a block */
  border-bottom: 1px solid lightSteelBlue;
  margin-bottom: 5px;
} 

/* View : List render */

.view_list {  
  padding-left: 5px;	
}

.view_list_item {
  list-style-type: none;		
  border-bottom: 1px solid #DDD;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
}

/* View : Teaser render */

.view_teaser_element {
  margin-top: 30px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

/* View : Div render - 1 Block with image on left size */

.view_div_youtube_container { /* It's the wrapper for the full view */

  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;

}

.view_div_youtube_img { /* Class for the image field */
  width: 150px;
  float: left;
  -webkit-border-radius: 5px; /* Safari  */ 
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* iExplorer 9 */   
  clear:left; 
}

.view_div_youtube_title { /* Class for the title field  */
   font-size: 1.2em; 
   font-weight: 500; 
   color: #559;
   padding-left: 155px; 
}

.view_div_youtube_title a { /* The anchor of the title */
   color: #559;
   text-decoration: none;
}

.view_div_youtube_subtitle { /* Class for the subtitle field */
  font-size: 1.1em;
  padding-left: 155px;
}

.view_div_youtube_body { /* It's the class for body (text) */
  padding-left: 155px;
}

/* View : Div render - 2 FLOAT blocks with image centered an text */

.view_div_imgblocks_container { /* It's the wrapper fo the full view */

  background: #FCFAFA;
  border: 1px solid #DDD;
  padding: 5px;
  
  /* Round borders */
  -webkit-border-radius: 5px 5px; /* Safari  */  
  -moz-border-radius: 5px 5px; /* Firefox */
  border-radius: 5px 5px; /* iExplorer 9 */   
}

.view_div_imgblocks_container a { 
  text-decoration: none;
}

.view_div_imgblocks_element_wrapper { /* It's the wrapper for an element */
 display: inline-block; 
 padding: 5px;   
 font-size: 0.8em;
}

.view_div_imgblocks_img { /* It's the class for the image field */
 display: block; 
 margin: 0 auto;  
}

/* View : Div render - 3 Thumbnails (WP) */

.view_div_thumb_container {
  width: 46%;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 1em;
}

.view_div_thumb_element {
  position:relative;
  display: block;
}

.view_div_thumb_element a, .view_div_thumb_element a:visited
{
  display: block;
  border-style: none;
}

.view_div_thumb_element a:hover span
{ 
  color: rgba(48, 48, 47, 1);
  opacity: 1;
}

.view_div_thumb_element img {
  width: 100%;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;  
}

.view_div_thumb_element span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(240, 241, 238, .85);
  opacity: 0;
  text-align: center;
  
  -webkit-transition: all 0.16s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.16s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: all 0.16s cubic-bezier(0, 0, 0.25, 1);
  -ms-transition: all 0.16s linear;
  transition: all 0.16s cubic-bezier(0, 0, 0.25, 1);
}

.view_div_thumb_element_info {
  padding-top: 24%;
}

/* View : Term hierarchy */

.view_term_hierarchy_container { /* Thew view wrapper */
  background: #EEE; 
  border: 1px #CCC solid; 
  padding: 5px; 
  /* Round borders */
  -webkit-border-radius: 5px 5px; /* Safari  */ 
  -moz-border-radius: 5px 5px; /* Firefox */
  border-radius: 5px 5px; /* iExplorer 9 */ 
}

.view_term_hierarchy_container a { /* Anchor element */
  text-decoration: none;
}

/* ================================== */
/* ======== DEFINED BLOCKS ========== */
/* ================================== */

/* ------- BREAD CRUMB -------------- */

#block_site_breadcrumb {
  /*border: 1px solid #CCC;
  background: #EEE;	*/
  padding: 3px;
  margin-left: 10px;
  /* Round borders */
  -webkit-border-radius: 3px 3px; /* Safari  */ 
  -moz-border-radius: 3px 3px; /* Firefox */
  border-radius: 3px 3px; /* iExplorer 9 */	
}

.breadcrumb-element {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
}

/* ======================================= */
/* =============== MENUS ================= */
/* ======================================= */

/* ------- ADMIN MENU ------- */

#block_site_adminmenu {
 background: #CD2039;
}

#menu_admin_menu {
  background: #CD2039;
  color: black;	
}

#menu_admin_menu .submenu {
  background: #CD2039;
  z-index: 100;	
}

#menu_admin_menu > .menuitem > a:link, #menu_admin_menu > .menuitem > a:visited {
  color: black;	
}

#menu_admin_menu > .menuitem > a:hover {
  color: white;	
}

#menu_admin_menu .submenu > .menuitem > a:link, #menu_admin_menu .submenu > .menuitem > a:visited {
  color: black;	
}

#menu_admin_menu .submenu > .menuitem > a:hover {
  color: white;	
}

/* -- LOGIN MENU -- */

#block_menu_login {
  display: inline-block;	
}

#menu_login {
  background: black;
  color: white;	
}

#menu_login .submenu {
  background: black;	
  z-index: 100;
}

#menu_login > .menuitem > a:link, #menu_login > .menuitem > a:visited {
  color: white;	
}

#menu_login > .menuitem > a:hover {
  color: gray;	
}

#menu_login .submenu > .menuitem > a:link, #menu_login .submenu > .menuitem > a:visited {
  color: white;	
}

#menu_login .submenu > .menuitem > a:hover {
  color: gray;	
}


/* -- MEMBERS MENU -- */

#block_menu_members {
  display: inline-block;	
  float: left;
}

#menu_members {
  background: black;
  color: white;	
}

#menu_members .submenu {
  background: black;	
  z-index: 100;
}

#menu_members > .menuitem > a:link, #menu_members > .menuitem > a:visited {
  color: white;	
}

#menu_members > .menuitem > a:hover {
  color: gray;	
}

#menu_members .submenu > .menuitem > a:link, #menu_members .submenu > .menuitem > a:visited {
  color: white;	
}

#menu_members .submenu > .menuitem > a:hover {
  color: gray;	
}

/* -- TRANSLATION -- */

#block_translation_menu {
  display: inline-block;  
  float: right;
  font-size: 0.8em;
}

#menu_translation_menu {
  margin-right: 20px; 
}

#menu_translation_menu .submenu {
  background: #EEE;   
  z-index: 100;
}

#menu_translation_menu > .menuitem > a:link, #menu_translation_menu > .menuitem > a:visited {
}

#menu_translation_menu > .menuitem > a:hover {
  color: gray;  
}

#menu_translation_menu .submenu > .menuitem > a:link, #menu_translation_menu .submenu > .menuitem > a:visited {
}

#menu_translation_menu .submenu > .menuitem > a:hover {
  color: gray;  
}

/* -- PROFILE MENU -- */

#block_profile_menu {
  display: inline-block;  
  float: right;
  font-size: 0.8em;
}

#menu_profile_menu {
 
}

#menu_profile_menu .submenu {
  background: #EEE;   
  z-index: 100;
}

#menu_profile_menu > .menuitem > a:link, #menu_profile_menu > .menuitem > a:visited {
}

#menu_profile_menu > .menuitem > a:hover {
  color: gray;  
}

#menu_profile_menu .submenu > .menuitem > a:link, #menu_profile_menu .submenu > .menuitem > a:visited {
}

#menu_profile_menu .submenu > .menuitem > a:hover {
  color: gray;  
}

/* ---- PROFILE LOGIN BLOCK ---- */

#block_profile_login_button {
  float: left;
  padding-right: 5px;
}

#block_profile_register_button {
  float: left;
  padding-right: 5px;
}
